backend:
  name: git-gateway
  branch: master
media_folder: static/images
collections:
  - name: 'pages'
    label: 'Pages'
    files:
      - label: 'Index'
        name: 'index'
        file: 'content/index.md'
        fields:
          - label: Hero
            name: hero
            widget: object
            fields:
              [
                { label: 'title', name: 'title', widget: 'string' },
                { label: 'cta', name: 'cta', widget: 'string' },
                { label: 'button', name: 'button', widget: 'string' },
                { label: 'blurb', name: 'blurb', widget: 'text' },
              ]
          - label: Income Calculator,
            name: incomecalculator,
            widget: object,
            fields:
              - { label: 'title', name: 'title', widget: 'string' }
              - { label: 'defaultincome', name: 'defaultincome', widget: 'string' }
              - label: 'otherincome'
                name: 'otherincome'
                widget: 'list'
                fields:
                  - { label: title, name: title, widget: string }
                  - { label: wagesPerWeek, name: wagesPerWeek, widget: string }
          - label: 'Locations'
            name: 'locations'
            widget: 'list'
            fields:
              - { label: name, name: name, widget: string }
              - { label: title, name: title, widget: string }
              - { label: quote, name: quote, widget: text }
              - { label: link, name: link, widget: string }
          - label: 'testimonials'
            name: 'testimonials'
            widget: 'list'
            fields:
              - { label: city, name: city, widget: string }
              - { label: date, name: date, widget: string }
              - { label: location, name: location, widget: string }
              - { label: image, name: imag, widget: image }
          - label: footercta
            name: footercta
            widget: object
            fields:
              [
                { label: 'title', name: 'title', widget: 'string' },
                { label: 'subtitle', name: 'subtitle', widget: 'text' },
                { label: 'button', name: 'button', widget: 'string' },
                { label: 'link', name: 'link', widget: 'string' },
                { label: 'moduleHeading', name: 'moduleHeading', widget: 'text' },
              ]
      - label: 'MP tracker'
        name: 'mptracker'
        file: 'content/mptracker.md'
        fields:
          - {
              label: Hero,
              name: hero,
              widget: object,
              fields:
                [
                  { label: 'heading', name: 'heading', widget: 'text' },
                  { label: 'subheading', name: 'subheading', widget: 'text' },
                  { label: 'button name', name: 'buttonName', widget: 'string' },
                ],
            }
