nav {
  position: relative;
  top: 0;
  width: 100%;
  font-size: 0.85em;
  z-index: 150;
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    padding: 6px 0;
    align-items: center;
  }
  .nav-bar {
    display: flex;
    .align-right {
      margin-right: 0;
      margin-left: auto;
    }
    .logo svg {
      height: 36px;
    }
  }

  .nav-item a {
    color: $gray-600;
    font-weight: 600;
    padding-left: 32px;
  }
  .nav-item:hover {
    a {
      text-decoration: underline;
    }
  }
}
