.about-page {
  color: white;
  background: $fn-blue;
  padding-bottom: 128px;
  .logomark {
    max-width: 120px;
    @media screen and (max-width: 600px) {
      max-width: 96px;
    }
  }

  .p {
    font-size: 1.2em;
  }
  .bold {
    font-weight: 900;
  }
}
