@mixin rounded {
  border-radius: $global-radius;
}
.form-container {
  &.hide {
    display: none;
  }
  .two-column {
    display: flex;
    .form-item {
      flex: 1 0 auto;
      &:nth-child(1) {
        margin-right: 6px;
      }
      &:nth-child(2) {
        margin-left: 6px;
      }
    }
  }

  .form-item {
    margin-bottom: 12px;
    label {
      font-size: 0.875em;
      font-weight: 600;
      display: block;
      color: $gray-800;
    }
    input {
      height: 38px;
      width: 100%;
      border: 1px solid $gray-400;
      padding-left: 8px;
      background: $gray-100;
      @include rounded;

      &:focus {
        outline: none;
        box-shadow: 0 0 0 0.2em $gray-200;
      }

      &.has-error {
        border: 1px solid red;
        &:focus {
          box-shadow: 0 0 0 0.2em rgba(red, 0.2);
        }
      }

      &::placeholder {
        color: $gray-400;
        font-weight: 500;
      }
    }

    small {
      color: red;
      font-weight: 600;
      display: flex;
    }
  }
}

.header-container {
  background: $gray-900;
  padding: 48px 0;
  border-bottom: 8px solid $gu-orange;
  @media screen and (max-width: 600px) {
    padding-bottom: 24px;
  }
  .headline {
    line-height: 1.2;
    color: white;
    @media screen and (max-width: 600px) {
      font-size: 2em;
      margin-top: 20px;
    }
  }
  h2 {
    color: white;
  }
}

.header-accordion {
  button {
    color: white;
  }
  p {
    color: white;
  }
  @media screen and (max-width: 600px) {
    .accordion-title {
      padding: 8px 8px 8px 0px;
    }
  }
}
