.mp-tracker-title {
  font-weight: bold;
  color: $ns-green-700;
}
#mp-tracker-table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  color: $gray-100;

  thead {
    border-bottom: 2px solid $gray-600;
  }

  tr.sep {
    height: 5px;
    pointer-events: none;
  }

  tr.lower {
    text-align: left;
  }

  th {
    padding: 6px 8px 4px;
    font-size: 0.85em;
    text-transform: uppercase;

    &:hover:not(.nosort) {
      background: $gray-500;
      transition: all 0.1s ease-out;
      cursor: pointer;
      color: white;
    }

    &.active {
      background: $gray-600;
    }

    &.bordered {
      border-bottom: 1px solid $gray-600;
    }
    &.centered {
      text-align: center;
    }
    &.unbold {
      font-weight: 500;
    }

    &.meeting {
      text-transform: none;
    }

    .show-only-in-small {
      display: none;
    }

    @media screen and (max-width: 600px) {
      font-size: 0.7em;
      font-weight: bold;
      letter-spacing: 0.02em;

      .hide-in-small,
      &.hide-in-small {
        display: none;
      }

      .show-only-in-small {
        display: block;
      }
    }
  }

  tbody {
    td {
      padding: 10px 8px;
      line-height: 1.2;
      border-bottom: 1px solid $gray-900;
      &.centered {
        text-align: center;
      }

      &.icon {
        &.check {
          background: $ns-green-700;
        }
        &.alert {
          background: #fbb03b;
          svg {
            height: 18px !important;
          }
        }
        &.cross {
          background: #c1272d;
        }
        svg {
          height: 20px;
          display: block;
          margin: 0 auto;
        }
      }
      @media screen and (max-width: 600px) {
        font-size: 0.8em;
        letter-spacing: 0.02em;
        height: 50px;

        &.hide-in-small {
          display: none;
        }
        &.centered-in-small {
          text-align: center;
        }
      }

      &.bordered-left {
        border-left: 2px solid $gray-600;
      }

      &.partylogo {
        padding-right: 0px;
      }

      &.bold {
        font-weight: 700;
      }

      &.partylogo span {
        height: 16px;
        width: 16px;
        display: block;
        margin: 0;
        padding: 0;

        &.labor {
          background: #e53440;
        }
        &.liberals {
          background: #1c4f9c;
        }
      }
    }
  }
}

.tracker-container {
  background: $gray-800;
  padding: 20px 0 32px 0;
  // border-top: 2px solid $gray-400;
  @media screen and (max-width: 600px) {
    overflow: scroll;
  }
}

.tabs {
  // border-bottom: 1px solid $gray-900;
  display: flex;
  .tab {
    padding: 8px 30px 6px 30px;
    font-weight: 700;
    font-size: 1.1em;
    margin-right: 8px;
    background: $gray-200;
    color: $gray-800;
    border-radius: $global-radius $global-radius 0 0;
    &.active {
      color: white;
      background: $gray-800;
    }
    &:hover:not(.active) {
      background: $gray-400;
    }
  }
}

.mp-tracker {
  .icon--wrapper {
    display: flex;
  }
  .small {
    color: $gray-600;
    font-size: 0.8em;
  }
  .icon {
    padding: 4px;
    height: 22px;
    width: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    margin-right: 4px;
    &-container {
      display: flex;
      align-items: center;
      margin-bottom: 8px;
      margin-right: 16px;
      .text {
        color: $gray-800;
        font-weight: 700;
        font-size: 0.8em;
      }
    }
    svg {
      height: 14px;
    }
    &.cross {
      background: #c1272d;
    }
    &.check {
      background: #3fb23c;
    }
    &.alert {
      background: #fbb03b;
    }
  }
}
